<footer class="bg-light text-dark py-3 border-top">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- Left -->
    <small class="mb-0">Beta version 1.0</small>

    <!-- Right -->
    <div>
      <!-- Logs -->
       <div class="dropdown w-100" style="max-width: 200px;">

            <!-- Select Button -->
            <button id="dropdownBtn" class="btn btn-outline-secondary dropdown-toggle w-100 text-start"
              data-bs-toggle="dropdown">
              <i class="bi bi-ui-checks me-2"></i> Last Action
            </button>
            <ul id="uiLogs" class="dropdown-menu dropdown-menu-end">
            </ul>
          </div>
    </div>

  </div>
</footer>

