<footer class="bg-light text-dark pt-5 pb-4 mt-5 border-top">
  <div class="container text-md-left">
    <div class="row">

      <!-- Version -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
        Beta version 1.0
      </div>

      <!-- Logs -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

        <div class="d-flex align-items-center ms-auto">
          <div class="dropdown w-100" style="max-width: 200px;">

            <!-- Select Button -->
            <button id="dropdownBtn" class="btn btn-outline-secondary dropdown-toggle w-100 text-start"
              data-bs-toggle="dropdown">
              <i class="bi bi-list me-2"></i> Last Action
            </button>
            <ul id="uiLogs" class="dropdown-menu dropdown-menu-end">
            </ul>
          </div>

        </div>

      </div>

    </div>
  </div>

</footer>
