<div id="uiLogIn" class="fiori-card-wrapper" >
    <div class="card fiori-card">

        <div class="card-body">

            <div class="form" class="login-input">
                <label>Username:</label><input type="text" id="username" class="form-control mb-3" value="">
                <label>Password:</label><input type="password" id="pwd" class="form-control mb-3" value="">
                <label>Extension:</label><input type="text" id="ext" class="form-control mb-3" value="">
                <button id="login" type="submit" onClick="handleLogIn()" class=" btn btn-fiori">Log In</button>
            </div>


        </div>

    </div>
</div>