<div class="card mt-4" id="uiHome">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#t1">Agent</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#t2">Transfer</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#t3">Dial Pad</button>
            </li>
        </ul>
    </div>
    <div id="uiCTI" class="card-body tab-content">
        <!-- tab 1 Agent-->
        <div class="tab-pane fade show active" id="t1"> </div>
        <!-- end of tab 1-->

        <!-- tab 2 Transfer-->
        <div class="tab-pane fade" id="t2">

        </div>
        <!-- end of tab 2-->


        <!-- tab 3 Dial Pad-->
        <div class="tab-pane fade" id="t3">

        </div>
        <!-- end of tab 3-->


        <!-- <label>Cookie Name:</label><input type="text" id="cookieName" class="form-control mb-3" value="">
          <button class="" onClick="handleCookie()">Get</button>
          <p id="cookieVal"></p> -->
    </div>




</div>