.form {
    display: grid;
    grid-template-columns: 1fr;
    /* Defines 1 single column */
    grid-template-rows: repeat(5, auto);
    /* Creates 5 rows */
    gap: 15px;
    /* Adds space between the rows */
    max-width: 250px;
}

.form-row input {
    width: 100%;
    /* Ensures input fills the row width */
}