   /* Disable responsiveness */
    body {
      min-width: 300px;
      /* forces desktop layout */
    }

    /* Fixed height container */
    .tab-content {
      height: 70vh;
      /*fixed height */
      padding: 15px;
      overflow-y: auto;
      /* scroll if content overflows */
    }

     .form-control:hover {
      box-shadow: 0 0 8px rgba(13, 110, 253, 0.5);
      /* blue glow */
    }